<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Login</h1>

        <form action="/user/login" method="POST" class="form">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>

        <!-- If user doesn't have an account, this button will direct to the signup page -->
        <div class="signup-prompt">
            <p>Don't have an account? <a href="/signup" class="nav-button">Sign Up</a></p>
        </div>
    </div>
</body>

</html>
